* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Lato', sans-serif;
}

.wrap {
    width: 1140px;
    margin: 0 auto;
}
.header-wrap {
    padding: 18px 0;
}

.header {
    background-color: #222;
    color: #fff;
}
.header-wrap {
    display: flex;
    justify-content: space-between;
}
.header-logo {
    margin-right: 40px;
}
.header-logo:hover img {
    filter: brightness(30%);
  }
.header-logo:active img {
    filter: brightness(10%);
  }
.header-icon-margin {
    margin-right: 33px;
}
.logo-link {
    margin-left: 41px;
    text-decoration: none;
}
.icon-link {
    margin: 0 33px;
    color: transparent;
}
.btn-icon {
    background-color: transparent;
    border: none;
}
.search-icon-form {
    width: 30px;
    height: 30px;
    margin: 0 0 0 30%;
    position: relative;
  } 
  
  .search-icon-form__label {
    display: block;
    width: 30px;
    height: 100%;
    background-image: url(../img/icon-search.svg);
    background-repeat: no-repeat;
  }
  
  .search-icon-form__label:hover .search-icon-form__label {
    filter: saturate();
  }
  
  .search-icon-form__label:active .search-icon-form__svg {
    fill: green;
  }
  
  .search-icon-form__input {
    width: 0;
    min-height: 0;
    padding: 5px;
    outline: none;
    background-color: transparent;
    border: none;
    position: absolute;
    top: 0px;
    left: 60px;
    color: #fff;
    font-size: 16px;
    font-family: Arial;
    text-transform: capitalize;
  }
  
  .search-icon-form__input:focus {
  /*   display: block; */
    width: 200px;
    min-height: 20px;
    transition: width 1s ease;
    border: 1px solid #fff;
  }
  
  .search-icon-form__input:focus ~ .search-icon-form__label>.search-icon-form__svg {
    fill: aqua;
  }

.header-col-1 {
    display: flex;
    align-items: center;
}

.promo {
   background-color: #F1E4E6; 
}
.promo-wrap {
    background-image: url(../img/promo-img.png);
    background-repeat: no-repeat;
    background-position-x: -225px;
    background-position-y: bottom;
    height: 764px;
    position: relative;
}
.promo-title {
    font-size: 48px;
    line-height: 38px;
    color: #222222;
    text-transform: uppercase;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

}
.promo-title--small {
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    color: #222222;
}
.promo-title--pink {
    color: #F16D7F;
}
.promo-title--dec {
    position: relative;
    top: 285px;
    left: 640px;
}
.promo-title--dec::before {
    background-color:#F16D7F;
    width: 12px;
    height: 92px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    content: "";
    display: block;
    position: absolute;
    top: -7px;
    left: -24px;
}

.categories {
    background-color: #fff;
}
.categories-preview {
    display: flex;
    margin-top: 60px;
    flex-wrap: wrap;
}
.category-preview {
    display: block;
    height: 260px;
    width: 360px;
    position: relative;
}
.category-link {
    display: inline-block;
}
.category-women {
    background-image: url(../img/category-women.jpg);
}
.category-men {
    background-image: url(../img/category-men.jpg);
    margin: 0 30px 30px 30px;
}
.category-kids {
    background-image: url(../img/category-kids.jpg);
}
.category-accesories {
    background-image: url(../img/category-accesories.jpg);
    height: 180px;
    width: 100%;
    margin-bottom: 100px;
}
.categories-title {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
}
.category-title--bigpink {
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 29px;
    color: #F16D7F;
}

.products {
    background-color: #fff;
}
.products-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    margin-top: 48px;
}
.products-title {
    font-size: 30px;
    line-height: 36px;
    text-align: center;
}
.products-text {
    font-size: 14px;
    line-height: 17px;
    color: #9F9F9F;
    text-align: center;
}
.product-card {
    max-width: 360px;
    background-color: #F8F8F8;
    box-sizing: border-box;
    margin-bottom: 30px;
}
.product-card--title {
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    margin: 25px 0 0 18px;
}
.product-card--text {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #5D5D5D;
    margin: 13px 25px 18px 18px;
}
.product-card--prise {
    font-size: 16px;
    line-height: 19px;
    color: #F16D7F;
    margin-left: 18px;
    padding-bottom: 20px;
}
.product-search {
    text-align: center;
    margin-top: 18px;
    margin-bottom: 95px;
}
.product-browse-btn {
    display: inline-block; 
    text-decoration: none;
    background-color: #ffffff;
    color: #F26376;
    border: 1px solid #FF6A6A;
    font-size: 16px;
    padding: 14px 38px;
    transition: 150ms;
}
.product-browse-btn:hover {
    background-color: #F26376;
    color: #fff;
}
.product-browse-btn:active {
    background-color: #ffffff;
    color: #F26376;
}
.product-img {
    position: relative;
}
.product-img-shadow {
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: #3A3838;
    opacity: 0;
    transition:  opacity 125ms;
}
.product-img-shadow:hover {
    opacity: .84;
    cursor: pointer;
}
.add-to-card--btn {
    position: relative;
    background: #3A3838;
    color: #ffffff;
    padding: 13px 13px 13px 50px;
    border: 1px solid #ffffff;
}
.add-to-card--btn:hover  {
    opacity: 1;
    cursor: pointer;
    background: #9F9F9F;
    border: 1px solid transparent;
}
.add-to-card--btn:active {
    background: #292727;
}
.add-to-card--btn::before {
    content: url(../img/icon-cart.svg);
    position: absolute;
    top: -8px;
    left: -6px;
    padding: 16px;
}


.benefits {
    background-color: #222224;
    color: #FBFBFB;
}
.benefits-wrap {
    display: flex;
    justify-content: space-between;
}
.benefits-info{
    max-width: 360px;
    padding: 0 20px;
    margin: 104px 0;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: top;
}
.benefits-info--delivery {
    background-image: url(../img/aside-1.svg);
}
.benefits-info--sale {
    background-image: url(../img/aside-2.svg);
}
.benefits-info--quality {
    background-image: url(../img/aside-3.svg);
}
.benefits-title {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #FBFBFB;
    text-align: center;
    padding: 60px 0 16px 0;
}
.benefits-text {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #FBFBFB;
}

.subscribe {
    color: #222224;
    background: rgba(244, 244, 244, 0.7);
}
.subscribe-wrap {
    background-image: url(../img/subscribe-background.jpg);
    background-repeat: no-repeat;
    background-position-x: center;
    height: 448px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.subscribe-info {
    background-image: url(../img/subscribe-img.png);
    background-repeat: no-repeat;
    background-position-x: center;
    max-width: 360px;
    margin-right: 327px;
}
.subscribe-info--text {
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #222224;
    padding-top: 126px;
}
.subscribe-mail--title {
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    color: #222224;
}
.subscribe-mail--subtitle {
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
}
.subscribe-mail--input {
    display: flex;
    min-height: 35px;
    height: 49px;
    margin-top: 32px;
}
.email-input {
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    color: #222224;
    background-color: #E1E1E1;
    border: none;
    width: 256px;
    border-radius: 50px 0 0 50px;
    text-indent: 22px;
}
.subscribe-btn {
    border: none;
    background-color: #F16D7F;
    border-radius: 0 50px 50px 0;
    width: 100px;
    color: #FFFFFF;
    transition: 150ms;
}
.subscribe-btn:hover {
    background-color: #fff;
    color: #F16D7F;
    cursor: pointer;
}
.subscribe-btn:active {
    color: #fff;
    background-color: #F16D7F;
}
.italic {
    font-style: italic;
}

.footer {
    background-color: #222224;
    color: #FBFBFB;
}
.footer-wrap {
    display: flex;
    justify-content: space-between;
}
.rights {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    align-self: center;
}
.social-icons {
    display: flex;
    margin: 24px 0;
}
.social-icons>li {
    margin-right:7px;
    display: flex;
    background-color: #fff;
}
.social-icon {
    width: 32px;
    height: 32px;
    justify-content: center;
    display: flex;
    align-items: center;
}
.social-icon svg {
    fill: #000;
}
.social-icon:hover svg {
    fill: #F16D7F;
}
.social-icon:active {
    background-color: #F16D7F;
}
.social-icon:active svg {
    fill: #fff;
}
ul.social-icons li:last-child {
    margin: 0;
}


/* catalog.css */

.nav {
    background-color: #F8F3F4;
}
.nav-wrap {
    height: 148px;
    display: flex;
    justify-content: space-between;
}
.arrivals {
    text-transform: uppercase;
    text-decoration: none;
    color: #F16D7F;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    align-self: center;
}
ul.breadcrumb {
    align-self: center;
    list-style: none;
}
ul.breadcrumb li {
    display: inline;
    font-size: 14px;
    text-transform: uppercase;
    line-height: 17;
    font-weight: 700;
    color: #F16D7F;
}
 ul.breadcrumb li+li:before {
    padding: 4px;
    color: #636363;
    content: "/\00a0";
}
ul.breadcrumb li a {
    color: #636363;
    text-decoration: none;
    font-weight: 300;
}
ul.breadcrumb li a:hover {
    text-decoration: underline;
}

.pagination-catalog {
    margin: 0 auto;
    width: 310px;
    text-align: center;
    margin-bottom: 96px;
    border: 1px solid #cecece;
    padding: 12px 0 ;
    margin-top: 18px;
    border-radius: 5px;
}
.pagination-catalog a {
    color: #cecece;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    padding: 0 8px;
    text-decoration: none;
}
.pagination-catalog a.active {
    color: #EF5B70;
}
.pagination-catalog a:hover {
    color: #EF5B70;
}
div.pagination-catalog a:first-child {
    color: #000;
}
div.pagination-catalog a:last-child {
    color: #000;
}
.filter {  
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    display: flex;
    padding: 50px 65px 0 0;
}
.filter-nav {
    font-weight: 600;
    color: #000;
    text-decoration: none;
    position: relative;
}
.filter-nav::after {
    position: absolute;
    left: 50px;
    content: url(../img/filter-burger.svg);
}
.filter-sort {
    margin: 0 auto;
}
ul.filter-sort-quik {
    display: flex;
    margin: 0 auto;
}
ul.filter-sort-quik li {
    list-style-type: none;
    color: #6F6E6E;
    position: relative;
    margin-right: 50px;
}
ul.filter-sort-quik li::after {
    cursor: pointer;
    position: absolute;
    left: 80px;
    content: url(../img/sort-pointer.svg);
} 
ul.filter-sort-quik li:nth-child(2):after {
    position: absolute;
    left: 37px;
} 
ul.filter-sort-quik li:nth-child(3):after {
    position: absolute;
    left: 45px;
} 
.sort {

    color: #6F6E6E;
    text-decoration: none;
}

/* Prduct.html */

.product-one {
    height: 777px;
    background-color: #F7F7F7;
    align-items: center;
    text-align: center;
}
.product-one-wrap {
    align-items: center;
    text-align: center;
    position: relative;
}
.pagination-product-gallary {
   width: 100%;
}
.pagination-product-gallary a {
    color: black;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    background-color: #2A2A2A26;
    opacity: var(background-color) 15%;
    width: auto;
    position: absolute;
    top: 50%;
    margin-top: -0.625em;
}
.prew {
    left: 0;
}
.next {
    right: 0;
}
.pagination-product-gallary a:hover:not(.active) {
    background-color: rgb(236, 236, 236);
}

.description {
    background-color: #fff;
    max-width: 1140px;
    padding: 0 294px;
    justify-self: center;
    text-align: center;
}
.description-title {
    text-transform: uppercase;
    font-weight: 300;
    color: #F16D7F;
    font-size: 14px;
    line-height: 17px;
}
.description-subtitle {
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    color: #4D4D4D;
}
.description-text {
    font-size: 14px;
    line-height: 17px;
    color: #4D4D4D;
    font-weight: 300;
}
.description-price {
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    color: #EF5B70;
}
ul.description-sort {
    text-align: center;
    display: flex;
}
ul.filter-description-sort {
    text-transform: uppercase;
    color: #4D4D4D;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    margin: 0 auto;
    display: inline-block;
}
ul.filter-sort-quik li:last-child {
    margin: 0;
} 
.sort-color {
    left: 50px;
}



